@import "tailwindcss";


body {
  font-family: var(--font-gopher);
  margin: 0;
  padding: 0;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(24px);
}

.fade-up.show {
  animation: fadeUp 0.8s ease-out forwards;
}
